<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PagoElectronico.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PagoElectronico.Properties.Settings>
            <setting name="dbConnection" serializeAs="String">              
              <value>Server=DAMIAN-PC\SQLEXPRESS;Database=GD1C2015;Trusted_Connection=Yes;</value>
        <!--- <value>Server=R00-455\SQLSERVER2008;Database=GD1C2015;Trusted_Connection=Yes;</value>-->
			  <!--  <value>Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2015;User ID=gd;Password=gd2015</value> -->
            </setting>
            <setting name="SYSTEM_DATE" serializeAs="String">
                <value>2015-01-01</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </PagoElectronico.Properties.Settings>
    </userSettings>
</configuration>